.row{
    float: left;
    max-width: 50%;
}

#albumtalk{
    color: #FFAE00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.headers{
    color:#33FFFC ;
}

h3{
    color:#FF8080 ;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 4px solid red;
    -ms-layout-grid-line: auto;
    max-width: 50%;
    max-width: 300px;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    outline: wheat;
    
    
    
    
    
}


.flex img{
    border: 4px solid cornflowerblue;  
}

@media (max-width: 480px){

}


