.row{
    float: left;
}

#albumtalk{
    color: #FFAE00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.headers{
    color:#33FFFC ;
}

h3{
    color:#FF8080 ;
}
.container{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: red 2px;

}

html, body {width: auto!important; overflow-x: hidden!important} 

@media (max-width: 480px){

}